* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav */

.book-button {
    background-color: #2faeef;
    color: white;
    transition: all 0.3s ease-in-out;
}

.book-button:hover {
    background-color: hsl(200, 86%, 75%);
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-logo {
    padding-top: 1rem;
}

.footer-logo a img {
    height: 3rem;
}

.footer-links-ul {
    padding-top: 2rem;
    text-align: center;
}

.footer-links-ul li {
    list-style: none;
    display: block;
    padding: .5rem 0;
    font-size: 1.3rem;
}

.footer-links-ul a {
    text-decoration: none;
    color: gray;
    transition: all 0.3s ease-in-out;
}

.footer-links-ul a:hover {
    color: #2faeef;
    transition: all 0.3s ease-in-out;
}

.footer-socials {
    margin-right: 1rem;
}

.foooter-socials a img {
    height: 2rem;
}

@media screen and (min-width:768px) {
    .footer {
        max-width: 1400px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(4, minmax(156px, 465px));
        grid-template-rows: 3rem;
    }
    .footer-logo {
        margin-left: 4rem;
    }
    .footer-links {
        grid-column: 2/4;
    }
    .footer-links-ul li {
        list-style: none;
        display: inline-block;
        padding: .5rem .2rem 0 .2rem;
        font-size: 1rem;
    }
    .footer-socials {
        padding-top: .5rem;
    }
    .footer-socials a {
        padding-right: .3rem;
    }
}

@media screen and (min-width:900px) {
    .footer-links-ul li {
        list-style: none;
        display: inline-block;
        padding: .5rem .5rem;
        font-size: 1.2rem;
    }
}