* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav */

.book-button {
    background-color: #2faeef;
    color: white;
    transition: all 0.3s ease-in-out;
}

.book-button:hover {
    background-color: hsl(200, 86%, 75%);
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}


/* about section */

.section-header {
    text-align: center;
    line-height: 5rem;
    font-size: 2rem;
    font-weight: bold;
}


/* dentist section */

.dentist-section {
    background-color: rgba(47, 174, 239, 0.3);
}


/* testimonial section */

.test-card {
    background-color: rgba(47, 174, 239, 0.3);
    color: black;
}


/* contact section */

.contact-section {
    background-color: rgba(47, 174, 239, 0.3);
}


/*Testimonials Styles Start*/

.testimonials-title {
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.testimonials-user-emily,
.testimonials-user-thomas,
.testimonials-user-jennie {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials-user-emily img,
.testimonials-user-thomas img,
.testimonials-user-jennie img {
    border-radius: 50%;
    height: 4rem;
}

.testimonials-user-emily-p,
.testimonials-user-thomas-p,
.testimonials-user-jennie-p {
    max-width: 600px;
    padding: 1rem 2.5rem;
}

.testimonials-user-emily-h4,
.testimonials-user-thomas-h4,
.testimonials-user-jennie-h4 {
    padding: 1rem 0 0.5rem;
}

.testimonials-user-emily-work,
.testimonials-user-thomas-work,
.testimonials-user-jennie-work {
    font-size: .7rem;
    padding-bottom: 2rem;
}


/*Testimonials Style End*/


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-logo {
    padding-top: 1rem;
}

.footer-logo a img {
    height: 3rem;
}

.footer-links-ul {
    padding-top: 2rem;
    text-align: center;
}

.footer-links-ul li {
    list-style: none;
    display: block;
    padding: .5rem 0;
    font-size: 1.3rem;
}

.footer-links-ul a {
    text-decoration: none;
    color: gray;
    transition: all 0.3s ease-in-out;
}

.footer-links-ul a:hover {
    color: #2faeef;
    transition: all 0.3s ease-in-out;
}

.footer-socials {
    margin-right: 1rem;
    display: flex;
}

.footer-socials a img {
    height: 2rem;
}

@media screen and (min-width:768px) {
    .testimonials {
        background-color: white;
    }
    .testimonials-user {
        max-width: 1200px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(256px, 400px));
    }
    .testimonials-user-jennie {
        padding-top: 2rem;
    }
    .footer {
        max-width: 1400px;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(4, minmax(156px, 465px));
        grid-template-rows: 3rem;
    }
    .footer-logo {
        margin-left: 4rem;
    }
    .footer-links {
        grid-column: 2/4;
    }
    .footer-links-ul li {
        list-style: none;
        display: inline-block;
        padding: .5rem .2rem 0 .2rem;
        font-size: 1rem;
    }
    .footer-socials {
        padding-top: .5rem;
    }
    .footer-socials a {
        padding-right: .3rem;
    }
}

@media screen and (min-width:900px) {
    .footer-links-ul li {
        list-style: none;
        display: inline-block;
        padding: .5rem .5rem;
        font-size: 1.2rem;
    }
}